* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #654df2, #a6c1ee);
  color: #2c3e50;
  line-height: 1.6;
}


header {
  background: linear-gradient(to right, #b6d633, #ff7eb3);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #b74646;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.3rem;
  letter-spacing: 1px;
}

.slogan {
  font-size: 1.2rem;
  font-style: italic;
}


.container {
  max-width: 1000px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 3px solid #f79396;
}


.intro h2,
.form-section h2,
.list-section h2 {
  margin-bottom: 0.5rem;
  color: #ce1729;
  font-size: 1.8rem;
  border-bottom: 2px solid #894124;
  padding-bottom: 5px;
}

.intro p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #000000;
}


.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

input,
select,
button {
  flex: 1 1 200px;
  padding: 0.75rem;
  font-size: 1rem;
  border: 3px solid #f78558;
  border-radius: 10px;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #f67280;
  outline: none;
  background-color: #fceef1;
}

button {
  background: linear-gradient(to right, #f67280, #f8b195);
  color: rgba(0, 0, 0, 0.817);
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
}

button:hover {
  background: linear-gradient(to right, #f95772, #ff7eb3);
  transform: scale(1.05);
}


#eventList {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
}

#eventList li {
  background: #98959581;
  margin-bottom: 1rem;
  padding: 1rem;
  border-left: 6px solid #ff6f91;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

#eventList li:hover {
  background: #ffe2e9;
}


footer {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: white;
  margin-top: 2rem;
  font-weight: 500;
}
